@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

:root {
  --bg--color: rgba(32, 11, 99, 1);
  --tb-odd-color: rgba(68, 51, 125, 1);
  --tb-hover: rgba(110, 83, 201, 1);
  --text-color: rgba(249, 155, 85, 1);
  --secondary-text-color: rgba(32, 11, 99, 1);
  --btn-color: rgba(166, 147, 250, 1);
  --btn-hover-color: rgba(249, 155, 85, 1);
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "magic_school_oneregular";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "magic_school_oneregular";
  src: url("magic-school.one-webfont.woff2") format("woff2"),
    url("magic-school.one-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.buttons button {
  background-color: var(--btn-color);
  border-radius: 16px;
  padding: 0.5rem;

  width: 150px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: var(--primary-font);
  border: none;
  color: var(--secondary-text-color);
  margin-bottom: 0.5rem;
}
button:hover {
  background-color: var(--btn-hover-color);
}

h1,
h2,
p,
th,
label {
  font-family: "magic_school_oneregular";
  font-weight: normal;
  color: var(--text-color);
}

input {
  padding: 0.8rem;
  background-color: var(--tb-odd-color);
  border-radius: 16px;
  border: none;
  font-size: 1.438rem;
  font-weight: bold;
  font-family: var(--primary-font);
  color: var(--text-color);
  height: min-content;
  width: 90%;
}
::placeholder {
  font-size: 1.438rem;
  font-weight: bold;
  font-family: var(--primary-font);
  color: var(--text-color);
}
body,
header {
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: var(--bg--color);
  margin-bottom: 7rem;
}
header {
  margin: 0;
  margin-top: 3rem;
}
h1 {
  font-size: 6rem;
  text-align: left;
}

p,
h2,
label {
  font-size: 1.8rem;
}

#howgarts-numbers {
  background-color: var(--text-color);
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

#howgarts-numbers ul {
  display: flex;
  flex-direction: row;
}
.flex-left {
  width: 35%;
}
.flex-right {
  width: 65%;
}
.flex-left li {
  margin-bottom: 0.5rem;
}
.flex-right li {
  margin-bottom: 0.5rem;
}
#howgarts-numbers h2 {
  color: var(--bg--color);
  margin-bottom: 1rem;
}
li {
  list-style: none;
  font-family: var(--primary-font);
  color: var(--bg--color);
  font-size: 1rem;
}
li span {
  font-weight: bold;
}

th {
  font-size: 2.75rem;
  height: 6rem;
}
td {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 1.438rem;
  height: 6rem;
  text-align: center;
}

[data-action] {
  cursor: pointer;
}

[data-field="expel"] {
  background-image: url(images/expel.svg);
  cursor: pointer;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

[data-field="prefect"][data-prefect="false"] {
  background-image: url(images/prefect-inactive.svg);
  cursor: pointer;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
[data-field="prefect"] {
  background-image: url(images/prefect-chosen.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
[data-field="squad"][data-squad="false"] {
  background-image: url(images/squad-inactive.svg);
  cursor: pointer;
  background-size: 20%;

  background-position: center;
  background-repeat: no-repeat;
}
[data-field="squad"] {
  background-image: url(images/squad-chosen.svg);
  cursor: pointer;
  background-size: 20%;

  background-position: center;
  background-repeat: no-repeat;
}
[data-exstudent="true"] {
  animation: fadeAway 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeAway {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

table {
  width: 100%;
}
#list {
  border-collapse: collapse;
}

#list tbody tr:hover {
  background-color: var(--tb-hover) !important;
}

#list tbody tr:nth-child(odd) {
  background-color: var(--tb-odd-color);
}
#list tbody tr:nth-child(even) {
  background-color: var(--bg--color);
}

#sorting:hover {
  background-color: var(--bg--color);
}
.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2.5fr 2fr;
  margin-top: 3rem;
}
.search_bar {
  grid-row: 2;
  display: flex;
  grid-column: 5;
  justify-content: flex-end;
}

#sorting th.sortby {
  text-decoration: underline;
}
/*********** Student details pop up ********'*/
.modal {
  display: none;
  position: fixed;

  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.student-details-model-content {
  background-image: url(images/slytherin-bg-ver2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;

  width: 530px;
  height: 730px;
}
.student-details {
  position: relative;
  left: 120px;
  top: 240px;
  z-index: 1;
  width: 350px;
  height: 390px;
  color: black;
  font-family: var(--primary-font);
  padding: 1rem;
}

[data-student-modal="prefect"],
[data-student-modal="squad"] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
[data-student-modal="prefect"] img,
[data-student-modal="squad"] img {
  width: 70%;
}
.student-functions {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: -1rem;
}

.popup-student-names {
  display: flex;
  justify-content: start;
  font-family: var(--secondary-font);
  padding-right: 0.5rem;
  font-size: 2.2rem;
}
[data-student-modal="name"],
[data-student-modal="middlename"],
[data-student-modal="nickname"] {
  padding-right: 1rem;
}
.popup-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  grid-row-gap: 1rem;
}
[data-student-modal="expel"] {
  grid-column: 1 / -1;
}
[data-student-modal="blood"] {
  grid-column: 1 / -1;
}

/*********'  confirmation modal ***********/

.hide {
  visibility: hidden;
}
.dialog {
  padding: 2em;
  background-image: url(images/message-modal.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  width: 700px;
  height: 410px;
  display: flex;
  justify-content: center;
}
.dialog_content {
  position: relative;
  align-self: center;
  padding: 1rem;
}
.dialog_content p {
  font-family: var(--primary-font);
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem;
  line-height: 2.2rem;
}
.dialog_content button {
  font-family: var(--secondary-font);
  font-size: 3rem;
  background-color: transparent;

  border: none;
  color: var(--text-color);
  margin-top: 1rem;
  cursor: pointer;
}
.buttons-wrapper {
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: space-around;
}

.modal2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dontTryToRemoveMe {
  visibility: hidden;
  background-color: black;
  position: fixed;
  z-index: 1;

  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.dontTryToRemoveMe p {
  font-size: 10rem;
  color: red;
  font-family: "Creepster", cursive;
}
.hackedSquad {
  visibility: hidden;
  background-color: black;
  position: fixed;
  z-index: 1;

  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.hackedSquad p {
  font-size: 10rem;
  color: red;
  font-family: "Creepster", cursive;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  p,
  h2 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 4rem;
  }
  .buttons button {
    width: 120px;
    font-size: 0.7rem;
  }
  th {
    font-size: 2rem;
  }
  td {
    font-size: 1.2rem;
  }
  li {
    font-size: 0.8rem;
  }
  input {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1600px) {
  p,
  h2 {
    font-size: 2rem;
  }
  .buttons button {
    width: 170px;
    font-size: 1rem;
  }
}
